<a href="https://colab.research.google.com/github/hyeongaa/hyss/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python의 기초를 한번 해볼까요??

짧은 시간 동안 많이 배울 수는 없기에 한번 간단하게 같이 따라해봅시다!!

먼저 우리가 하는 간단한 사칙 연산 해볼게요

In [ ]:
1+1

2

이제 계산을 편하게 하기 위해서 다양한 변수에 숫자를 넣을 수가 있습니다.

In [ ]:
a=1+2*2
b=1

이 미지수를 활용하여 사칙 연산이 가능합니다.

In [ ]:
a*b

5

In [ ]:
a/b

5.0

python에서 문장을 출력하는 법 배워봅시다.

In [ ]:
print("hello world")

hello world

아까 미지수도 출력이 가능합니다.

In [ ]:
c=a+b
print(c)

6

In [ ]:
print("나는 "+str(c)+"살 입니다.")

나는 6살 입니다.

한번 리뷰를 해봅시다.

다음의 문장을 출력할 것입니다.

"준혁이는 일주일 동안 수학 공부를 12시간을 하였고, 준범이는 일주일 동안 국어 공부를 7시간 하였다. 둘이 운동한 총 시간은 19시간이다."

1. 먼저 변수를 설정해야겠죠? 변수를 설정해봅시다! a를 준혁이의 공부 시간, b를 준범이의 공부 시간으로 설정하고 c를 그 둘의 합으로 설정해봅시다!

In [ ]:
a=
b=

c=

이 문장을 출력해봅시다.

사실 python을 이용하면서 가장 편한 점은 list를 사용할 수 있다는 점이에요. 한번 같이 사용해 봅시다.

다음 리스트는 5명 학생의 수학 점수를 나타낸 리스트입니다!

In [ ]:
score=[98,84,20,54,27]

이 중 세번째의 점수가 준혁이의 점수라면, 준혁이 점수만 따로 빼볼까요? 컴퓨터 언어에서 list를 활용할 때에는 첫번째를 1이 아닌 0부터 시작하게 됩니다!

In [ ]:
score_jh=score[2]

print(score_jh)

20

준범이의 점수가 첫번째 점수라고 합니다. 준범이의 점수를 한번 빼볼까요?

In [ ]:
score_jb=

print(score_jb)

앞에서 배운것들을 이용하면 둘의 점수의 차이도 구할 수 있습니다.

In [ ]:
gap=score_jb-score_jh

마지막으로 dictionary라는 것을 해볼려고 해요!

아까 해본 것에서 준혁이의 점수는 20점 준범이의 점수는 98점이었죠? 이것을 한번에 리스트 형식으로 저장하는 방법이에요

In [ ]:
d={"준혁":20, "준범":98, "홍준":85, "우림":75, "지훈":32}

In [ ]:
print(d)

{'준혁': 20, '준범': 98, '홍준': 85, '우림': 75, '지훈': 32}

여기서 준혁이의 점수만 알고 싶다면?

In [ ]:
print(d["준혁"])

20

컴퓨터의 언어에는 다양한 반복구문이 있어요. 반복적인 작업을 할 수 있게 만드는 것인데, 이번에 for구문만 볼 것입니다! 한번 봐볼까요?

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

이런 식으로 반복적으로 작업을 할 수 있게 해요!

아까 만든 dictionary를 이용하여 점수를 설명해봅시다!

In [ ]:
for i in d:
    scores=d[i]
    print(' %s은 %d점을 받았다.' % (i, scores))

 준혁은 20점을 받았다.
 준범은 98점을 받았다.
 홍준은 85점을 받았다.
 우림은 75점을 받았다.
 지훈은 32점을 받았다.